/*stili  generali della pagina*/

body{
    background-color: bisque;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.container{
    text-align: center;
    max-width: 80%;
    margin: 0 auto;

}

/*titolo e paragrafo*/

#title{
    color: rgb(207, 40, 118);
    margin: 30px;
    font-size: 60px;
}

p{
    margin-bottom: 30px;
}

/*cards*/

.row::after{
    content: "";
    display: table;
    clear: both;
}

.card{
    float: left;
    width: calc(100% / 3 - 20px);
    background-color: rgb(37, 37, 37);
    border: 1px solid whitesmoke;
    height: 102px;
    margin: 10px;

}

.pic{
    width: 100px;
    height: 100px;
    float: left;

}

.name{
    color: white;
    font-size: 30px;
}

.role{
    color: white;
}

.email{
    color: aqua;
}

.text{
    margin: 5px;
    text-align: left;
    padding-left: 110px;
    
}